.registration{
    width: 30%;
    margin-top:2%;
    height: 20%;
    margin-left: 35%;
    align-self:center;
    background:transparent;
    padding:1rem 1rem;
    transition:all .5s ease;
    color:#41403E;
    font-size:2rem;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border:dotted 2px #41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.button{}