.cam{
    width:100%;
    height:auto;
   
}
.camcon{
    border:3px solid #2D8EDD;
    border-radius:7px;
}
.button{
    width : 100px;
    height: 40px;
    color:#2D8EDD;
    text-decoration: none; 
    font-size: medium;
    background-color: transparent;
    border-style: none;
}

.container{
    margin-top:5%;
    width:40%;
    height:30%;
    margin-left:30%;
}